/*************************** STARS ****************************/
#stars {
	background: #425169 url('../img/stars.gif') top center no-repeat;
	width: 100%;
	height: 4000px;
	position: fixed;
	top: 0;
	z-index: 100;
}

/*************************** IMAGES ****************************/
#images {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 200;
}

/*************************** CONTENT ****************************/
#content {
	color: #fff;
	position: relative;
	margin: 0 auto;
	width: 960px;
	z-index: 300;
}

/*************************** EARTH ****************************/
#earth {
	width: 100%;
	position: relative;
	text-align: center;
	z-index: 900;
}
/*************************** NAVIGATION ****************************/
#main-nav {
	background-color: #303d50;
	height: 35px;
	padding: 0;
	margin: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}

#main-nav ul {
	width: 960px;
	margin: 0 auto;
	height: 25px;
	padding-top: 10px;
}

#main-nav ul li {
	float: left;
	height: 30px;
	width: 200px;
	padding-left: 0;
	list-style-type: none;
	text-align: center;
}

#main-nav ul li a {
	color :#f1ecb9;
	font-weight: bold;
	text-decoration: none;
}

